* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #181C14;
    padding: 20px 15%;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensure the header is always on top */
}

.name {
    font-size: 25px;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.name:hover {
    color: gray;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 18px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: gray;
}

/* Home section styling */
.home {
    background-color:#ECDFCC;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home img {
    height:320px;
    max-width: 500px;
    width: auto;
    border-radius:175px;
    margin-right:20px;

}

.home-content {
    color: black;
    max-width: 600px;
    padding: 20px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.home-content h1 {
    margin-bottom: 10px;
}

.home-content h3 {
    margin-bottom: 10px;
}

.home-content p {
    margin-bottom: 5px;
}

.home-content ul {
    padding-left: 15px;
    margin-top: 15px;
}

.home-content ul li {
    margin: 8px 0;
    font-size:15px;
}


/* Footer styling */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #181C14;
    padding: 10px 0;
    text-align: center;
}

.footer a {
    color: white;
    margin: 0 15px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: gray;
}